@{
    Layout = "_Layout";
}
<form style="max-width:300px; width:40vw;margin:auto; text-align:center;">
    <br />
    <br />
    <br />
    <h1 class="h3 mb-3 fw-normal">Please fill filed</h1>
    <br />
    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <br />
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <br />
    <label for="inputPassword" class="visually-hidden">Repeat password</label>
    <input type="password" id="inputRepeatPassword" class="form-control" placeholder="Repeat password" required="">
    <br />
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
</form>